<ul>
	<li>
		<a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/blog' | prepend: site.baseurl | prepend: site.url }}">Blog</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/downloads' | prepend: site.baseurl | prepend: site.url }}">Downloads</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/releases' | prepend: site.baseurl | prepend: site.url }}">Releases</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/support' | prepend: site.baseurl | prepend: site.url }}">Support</a><span>/</span>
	</li>
</ul>
