[Unit]
Description=The Zorp firewall
After=syslog.target network.target remote-fs.target

[Service]
Type=forking
ExecStart=/usr/sbin/zorpctl start
ExecStop=/usr/sbin/zorpctl stop
ExecReload=/usr/sbin/zorpctl reload
Restart=on-abort
TimeoutStartSec=infinity
TimeoutStopSec=infinity

[Install]
WantedBy=multi-user.target
